---
import LandingHeader from "../components/LandingHeader.astro";
import Layout from "../layouts/Layout.astro";
import Model3 from "../components/Model3.astro";
import Banner from "../components/Banner.astro";
import ModelY from "../components/ModelY.astro";
import ModelX from "../components/ModelX.astro";
import ModelS from "../components/ModelS.astro";
import Cybertruck from "../components/Cybertruck.astro";
import DemoDrive from "../components/DemoDrive.astro";
import SolarPanels from "../components/SolarPanels.astro";
import SolarRoof from "../components/SolarRoof.astro";
import Powerwall from "../components/Powerwall.astro";
import Accessories from "../components/Accessories.astro";
---

<Layout title="Electric Cars, Solar & Clean Energy | Tesla">
	<Banner />
	<LandingHeader />
	<main
		class="scroll-m-0 snap-y snap-mandatory relative w-full h-[calc(100vh-72px)] overflow-auto"
	>
		<div class="snap-start">
			<Model3 />
		</div>
		<div class="snap-start">
			<ModelY />
		</div>
		<div class="snap-start">
			<ModelX />
		</div>
		<div class="snap-start">
			<ModelS />
		</div>
		<div class="snap-start">
			<Cybertruck />
		</div>
		<div class="snap-start">
			<DemoDrive />
		</div>
		<div class="snap-start">
			<SolarPanels />
		</div>
		<div class="snap-start">
			<SolarRoof />
		</div>
		<div class="snap-start">
			<Powerwall />
		</div>
		<div class="snap-start">
			<Accessories />
		</div>
	</main>
</Layout>
