<section
    class="sticky top-0 z-40 bg-black text-white bg-radial w-full
				px-6 py-4 text-center flex items-center justify-center gap-6
				bg-[radial-gradient(54.97%_272.54%_at_27.36%_-134.72%,_rgba(108,148,255,0.92)_0px,_rgba(0,0,0,0.92)_100%)]"
>
    <div class="flex gap-6 items-center">
        <div class="text-[17px] flex-shrink-0 flex-grow-0">
            $7,500 Federal Tax Credit
        </div>
        <p class="text-sm font-thin">
            Eligible buyers now receive $7,500 off the purchase price of new
            2024 Model Y and Model X Dual Motor. Applied at time of delivery.
        </p>
    </div>
    <a
        class="shadow-whisper shadow-dark text-sm font-thin
        flex-shrink-0 flex-grow-0 text-whisper
        transition-shadow duration-300 hover:shadow-darkHover hover:shadow-whisper"
        href="#">See Details</a
    >
</section>
