<a
    class="flex rounded w-[264px] text-center items-center
    justify-center h-10 text-sm font-medium
    border-[3px] border-white bg-transparent
    text-white px-6 py-1 mb-16 hover:text-blackRussian
    hover:bg-white transition-colors duration-500 cursor-pointer
    delay-300"
>
    Demo Drive
</a>
